@import "~antd/dist/antd.css";

a:focus {
  text-decoration: none;
}
#root {
  color: #616366;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  box-sizing: border-box;
}

.App-sidebar {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 110px;
  text-align: center;
  background: transparent linear-gradient(80deg, #0b4182 1%, #1a78cf 99%) repeat
    scroll 0% 0%;
  z-index: 10;
}
.App-sidebaritem {
  display: block;
  margin-bottom: 32px;
  position: relative;
  color: #a1c8ee;
  transition: color 0.3s;
  font-weight: bold;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App-sidebaritem::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-weight: normal;
  font-size: 21px;
  margin: 10px;
  display: block;
}
.App-sidebaritem:hover,
:focus,
:active {
  color: #ffffff;
}
.App-sidebaritem:focus::after {
  font-family: "icomoon" !important;
  position: absolute;
  left: 88.6px;
  top: 18px;
  display: block;
  height: 26px;
  width: 13px;
  content: "\e900";
  color: #ffffff;
  font-size: 30px;
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("fonts/icomoon.woff") format("woff"),
    url("fonts/icomoon.ttf") format("truetype"),
    url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
#activityitem::before {
  content: "\e9b8";
}
#applicationitem::before {
  content: "\e9bb";
}
#accountitem::before {
  content: "\e971";
  margin-bottom: 7px;
}
.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-title {
  max-width: 1290px;
  margin-left: 160px;
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 0px;
}

.App-navigation {
  text-align: center;
  margin-left: 132px;
  padding-left: 30px;
  padding-right: 30px;
}

.App-header {
  max-width: 1290px;
  margin: 0px auto;
  padding: 16px 30px 0px 30px;
  text-align: right;
  position: relative;
  white-space: nowrap;
}

/* SignPage */
.App-darea {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.App-ddarea{
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  width: 20vw;
  justify-content: space-around;
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 30px;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}